ncbi_dataset.zip
ncbi_dataset/
all_proteins/
md5sum.txt
*_mmseq
*.fasta
*.png
*.zip
*.rar
*.dmnd
GFDB/
*.tab
*.csv
*.gz
output_10/
output_50/
output_80/
output_90/
output_95/
output_99/
discotope/
*.txt
psort*
